{#include base.html}
{#title}List of CDs{/title}
{#body}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Music Company</th>
                <th scope="col">Genre</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {#for cd in cdList}
            <tr>
                <th scope="row">{cd.id}</th>
                <th>{cd.title}</th>
                <th>{cd.description}</th>
                <th>{cd.price}</th>
                <th>{cd.musicCompany}</th>
                <th>{cd.genre}</th>
                <th>{cd.createdAt}</th>
            </tr>
            {/for}
        </tbody>
    </table>
{/body}
{/include}